.boxContainer{
  height: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-content: center;

  & > .boxBirdSpinnerContainer{
    top: 25vh;
    position: absolute;
  }

}