.boxContainer{
  height: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-content: center;

  & > .boxCatSpinnerContainer{
    display: flex;
    align-items: center;
  }

}